@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
/* @import "tailwindcss/preflight";
@tailwind utilities; */

button {
  cursor: pointer;
}

@theme {
  --color-r-gray: #aaaaaa;
  --color-r-darkgray: #4a4a4a;
  --color-r-black: #1a1a1a;
  --color-r-green: #46856e;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

img {
  object-fit: cover;
}
